{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}
{% else %}
  {% assign author = site.author %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person" class="profile_box">
  <div class="author__avatar">
    {% if author.avatar contains "://" %}
      <img src="{{ author.avatar }}" class="author__avatar" alt="{{ author.name }}">
    {% else %}
      <img src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" class="author__avatar" alt="{{ author.name }}">
    {% endif %}
  </div>

  <div class="author__content">
    <h3 class="author__name">{{ author.name }}</h3>
    {% if author.bio %}<p class="author__bio">{{ author.bio }}</p>{% endif %}
  </div>

  <div class="author__urls-wrapper">
    <ul class="author__urls social-icons">
      {% if site.description %}
        <li><div class="author__tagline">{{ site.description }}</div></li>
      {% endif %}
      {% if author.location %}
        <li><i class="fas fa-fw fa-location-dot" aria-hidden="true"></i> {{ author.location }}</li>
      {% endif %}
      {% if author.employer %}
        <li><i class="fas fa-fw fa-building-columns" aria-hidden="true"></i> {{ author.employer }}</li>
      {% endif %}
      {% if author.email %}
        <li><a href="mailto:{{ author.email }}"><i class="fas fa-fw fa-envelope" aria-hidden="true"></i> Email</a></li>
      {% endif %}
      {% if author.github %}
        <li><a href="https://github.com/{{ author.github }}"><i class="fab fa-fw fa-github" aria-hidden="true"></i> GitHub</a></li>
      {% endif %}
      {% if author.googlescholar %}
        <li><a href="{{ author.googlescholar }}"><i class="fas fa-fw fa-graduation-cap" aria-hidden="true"></i> Google Scholar</a></li>
      {% endif %}
      <li><a href="{{ base_path }}/files/Ruochong_Zheng_CV.pdf"><i class="fas fa-fw fa-file-lines" aria-hidden="true"></i> CV</a></li>
    </ul>

    <div class="author__urls_sm">
      {% if author.email %}
        <a href="mailto:{{ author.email }}"><i class="fas fa-fw fa-envelope" aria-hidden="true"></i></a>
      {% endif %}
      {% if author.github %}
        <a href="https://github.com/{{ author.github }}"><i class="fab fa-fw fa-github" aria-hidden="true"></i></a>
      {% endif %}
      {% if author.googlescholar %}
        <a href="{{ author.googlescholar }}"><i class="fas fa-fw fa-graduation-cap" aria-hidden="true"></i></a>
      {% endif %}
      <a href="{{ base_path }}/files/Ruochong_Zheng_CV.pdf"><i class="fas fa-fw fa-file-lines" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
